body {
    background: rgb(83,121,82);
background: linear-gradient(20deg, rgba(83,121,82,0.7980579652996845) 26%, rgba(83,121,82,1) 59%, rgba(83,121,82,0.7412756309148265) 75%, rgba(83,121,82,0.07250591482649837) 96%, rgba(83,121,82,0.07250591482649837) 99%);}

form {
    display:inline-block;
    border : 3px solid #625c5c;
    padding: 3%;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 21%, rgba(15,88,204,1) 38%, rgba(0,212,255,1) 74%);
}

.file,h1{
    color:white;
}
h3{display: inline;}
h3:hover {
    color:#625c5c;
    background-color: thistle;
    border-radius: 15%;
}
.wright{
    padding-left: 17%;
}